body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e00b0b, #f1ca09);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    background: #0f0f0f;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(234, 232, 232, 0.2);
}

h2 {
    text-align: center;
    color: #fcfafa;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.add-btn {
    background-color: #4CAF50;
    color: rgb(9, 9, 9);
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background: #fcfafa;
    margin-bottom: 8px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background-color: red;
    color: rgb(17, 16, 16);
}