body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    background:rgb(231, 228, 228);
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(234, 232, 232, 0.2);
}

h2 {
    text-align: center;
   
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}



ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background: #fcfafa;
    margin-bottom: 8px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
   
}

